@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section id="Home">
    <div class="middle boxx">
       <div class="sqr vb">
           <div class="imgg">
                   <img src="~/Images/dkdk.jpg" />
            </div>
       </div>
       <div class="sqr">
           <h2>Hi ! 
               I am Doruntina Korça. I am an undergraduate student and a soon-to-be <span>.NET</span> intern at StarLabs (Hopefully).
           </h2>
       </div>
    </div>
   
</section>

<section id="About">
    <div class="middle middle2">
     
            <h1>About me</h1>
           <h3>
              I have just finished my third year of studying Computer Science & Engineering at
              UBT - University for Business and Technology. I am a responsible, motivated and quick-learning individual
              and I am looking to gain additional
              experience in .NET and learn more about this Industry. I believe that having  an internship 
              in your company would help me gain the necessary skills. 
           </h3>
      
    </div>
   
</section>


<section id="Projects">
    <div class="middle middle3">

        <h1 class="proj"> My Projects</h1>

           <div class="projproj">

               <div class="projektet boxx"> 
                   <a href="#">Repo</a>
                   <label>This is a description</label>
                   
               </div>
                 <div class="projektet boxx"> 
                   <a href="#">Repo</a>
                   <label>This is a description</label>
                   
               </div>
                <div class="projektet boxx"> 
                   <a href="#">Repo</a>
                   <label>This is a description</label>
                   
               </div>
                <div class="projektet boxx"> 
                   <a href="#">Repo</a>
                   <label>This is a description</label>
                   
               </div>
                <div class="projektet boxx"> 
                   <a href="#">Repo</a>
                   <label>This is a description</label>
                   
               </div>
                <div class="projektet boxx"> 
                   <a href="#">Repo</a>
                   <label>This is a description</label>
                   
               </div>

               
           </div>
    </div>
   
</section>



<section id="Contact">
    <div class="middle middle4">
     <h2>
         Contacts:

     </h2>
     <div class="cont">
         <a class="squares" href="https://www.linkedin.com/in/doruntina-kor%C3%A7a/">
             <img src="~/Images/linkedin.png"/>
         </a>
             <a class="squares" href="https://github.com/DoruntinaKorca">
             <img src="~/Images/git.png"/>
         </a>
         <a class="squares" href="mailto:doruntinekorca@gmail.com">
             <img src="~/Images/iconnn.png"/>
         </a>
     
     </div>
    </div>
   
</section>

   
